pandas
Pillow
transformers
torch
requests
apify-client
numpy
matplotlib
scikit-learn
xgboost
beautifulsoup4
selenium
webdriver-manager
trafilatura
googletrans
streamlit
pytrends
urllib3
